body { 
    background-color: rgb(229, 255, 219);
    text-align: center;
    width:100%;
    font-family: monospace;
}

h1 { 
    color: black;
    font-family: monospace;

}
h2 { 
    color: rgb(2, 97, 22)

}

.text {
    font-size: 15pt;
    font-family: monospace;
    color: rgb(55, 105, 35);
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    padding: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(34, 33, 33);
}

.href-font { 
    text-align: center;
    font-family: monospace;
    text-decoration: none;
    color: rgb(20, 65, 1);
    font-size:  20pt;
}